.postbox,
.postbox-header {
  background-color: lightskyblue;
  border-color: black;
}

.postbox .handle-order-higher,
.postbox .handle-order-lower,
.handlediv,
.postbox .handlediv.button-link,
.item-edit,
.toggle-indicator,
.accordion-section-title:after {
  color: black;
}